.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 83, 83, 0.8);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: linear 0.2s, linear 0.2s, linear 0.2s 0.5s;
    transition-property: opacity, background-color, visibility;
}

.popup.popup-active {
    visibility: visible;
    opacity: 1;
    transition: linear 0.2s, linear 0.2s;
    transition-property: opacity, background-color; 
}

.popup__container {
    position: relative;
    background: white;
    border-radius: 10px;
    max-width: 800px;
}

.popup .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    max-width: 100%;
}

.popup .form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c2c2c2;
}

.popup .form__input:focus {
    outline: none;
}

.popup .form__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
}

.popup__image {
    width: 400px;
    height: 300px;
}

.popup__close {
    position: absolute;
    top: -20px;
    right: -20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.popup__edit.btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.popup__delete.btn {
    position: absolute;
    top: 40px;
    right: 12px;
    border: none;
    font-size: 23px;
    cursor: pointer;
    color: #f27171;
}

.popup .form__btn[type='submit'] {
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 16px;
    background-color: #6599ca;
    padding: 10px;
    border: none;
}

.popup__login .popup__container {
    min-width: 250px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popup__details {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.popup__details h3, .popup__details .favorite {
    margin: 10px 0;
}

.popup__details .favorite {
    display: block;
    font-size: 22px;
}

.popup__add .popup__container,
.popup__edit .popup__container {
    padding: 20px;
}

.popup__fields {
    position: relative;
    padding: 20px;
    width: 400px;
}
.popup__details-edit {
    padding: 10px;
}
.popup__details-edit form {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.popup__details-edit label {
    line-height: 24px;
}